*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    background-color: rgba(129, 121, 121, 0.316);
    text-align: center;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.cards {
    margin: 50px -16px;
    padding: 0;
    list-style: none;
}

.cards>li {
    display: inline-block;
    width: calc(100% / 3);
    background-color: white;
    padding: 0 16px 32px;
    margin-right: -4px;
    vertical-align: top;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card {
    background: rgb(222, 220, 220);
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgb(132, 127, 127);
    overflow: hidden;
}

.card__content {
    padding: 0 25px 25px;
}

.card__visual {
    display: block;
    margin: 0 0 25px;
}

h4 {
    background-color: rgba(129, 121, 121, 0.316);
    text-align: center;
}